<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="assets/css/summary-table.css">
    <link rel="stylesheet" href="assets/css/dropdown.css">
    <link rel="stylesheet" href="assets/css/checkbox.css">
</head>
<body>
<!-- header -->
<div th:replace="header :: header">...</div>
<!-- //header -->

<!-- Modal content -->
<div id="proposeModal" class="propose-modal">
    <script th:inline="javascript" th:if="${hasErrors}">
    var modal = document.getElementById("proposeModal");
    modal.style.display = "block";
    </script>
    <div class="propose-modal-content">
        <span class="propose-close">&times;</span>
        <h4 style="text-align: center; margin-bottom: 10px;">Please specify your proposal</h4>
        <ul th:if="${hasErrors}">
            <li class="alert alert-danger" role="alert" th:each="errorField : ${errors}"
                th:text="${errorField.getDefaultMessage()}"></li>
        </ul>
        <form action="/saveProposal" method="post" class="signin-form" th:object="${proposal}">
            <div class="form__group">
                <div class="proposal-selection">
                    <h5>Type of proposal</h5>
                    <select class="dropdown-select" style="font-size: 18px; width: 100%;" th:field="*{type}"
                            data-dropdown>
                        <option th:value="'Add city for monitoring'">Add city for monitoring</option>
                        <option th:value="'Add forecast provider'">Add forecast provider</option>
                        <option th:value="'Extend analysis model'">Extend analysis model</option>
                        <option th:value="'Other'">Other</option>
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-grids" sec:authorize="isAnonymous()">
                    <input type="text" name="name" class="contact-input"
                           required placeholder="Your name" th:value="${hasErrors} ? ${failedProposal.name} : ''">
                </div>
                <div class="input-grids" sec:authorize="isAnonymous()">
                    <input type="text" name="email" class="contact-input"
                           required placeholder="Your email" th:value="${hasErrors} ? ${failedProposal.email} : ''">
                </div>
                <div class="input-grids">
                    <input type="text" name="subject" class="contact-input"
                           required placeholder="Subject" th:value="${hasErrors} ? ${failedProposal.subject} : ''">
                </div>
                <div class="input-grids">
                    <textarea name="details" class="contact-input" cols="40" style="margin-bottom: 0px;" rows="5"
                              required placeholder="Please enter your proposal details"
                              th:text="${hasErrors} ? ${failedProposal.details} : ''"
                    ></textarea>
                </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-center">
                <button type="submit" class="btn btn-style btn-style-3">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
                // Get the modal
                var modal = document.getElementById("proposeModal");
                var homeNav = document.getElementById("home-id");
                var proposeNav = document.getElementById("propose-id");

                // Get the button that opens the modal
                var anchor = document.getElementById("proposeAnchor");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("propose-close")[0];


                // When the user clicks the button, open the modal
                anchor.onclick = function() {
                  modal.style.display = "block";
                  $("propose-id").addClass("active");
                  homeNav.classList.remove("active");
                  proposeNav.classList.add("active");
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                  modal.style.display = "none";
                  homeNav.classList.add("active");
                  proposeNav.classList.remove("active");
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                    homeNav.classList.add("active");
                  proposeNav.classList.remove("active");
                  }
                }
</script>
<!-- /Modal content -->


<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <h3 class="title-style">About</h3>
        </div>
        <div>
            <p class="about"><span class="highlight">Pet project on development and demonstration of Spring framework competency</span></p>
            <div class="about-div">
                <p class="about">LinkedIn</p>
                <p class="about">
                    <a href="linkedin.com/in/vladyslav-oliinyk-a18a89158">linkedin.com/in/vladyslav-oliinyk-a18a89158</a>
                </p>
            </div>
            <div class="about-div">
                <p class="about">Contact email</p>
                <p class="about"> vladyslav.oliinyk94@gmail.com</p>
            </div>
            <div class="about-div">
                <p class="about"><span class="highlight">Project github repository</span></p>
                <p class="about">
                    <a href="https://github.com/thermeto/wheather-comparator">https://github.com/thermeto/wheather-comparator.git</a>
                </p>
            </div>
        </div>
    </div>
</section>

</body>
</html>