<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
    <link rel="stylesheet" href="/assets/css/summary-table.css">
    <link rel="stylesheet" href="/assets/css/dropdown.css">
    <link rel="stylesheet" href="/assets/css/checkbox.css">
</head>
<body>
<!-- header -->
<div th:replace="header :: header">...</div>
<!-- //header -->
<section class="matrix-section" th:object="${matrix}">
    <div>
        <form th:action="@{/dashboard/correlation_matrix/saveNewCoefficients}" method="post">
            <table class="matrix-table">
                <thead>
                <tr style="text-align: center;">
                    <th text="Condition"></th>
                    <th th:each="condition : ${matrix.getMatrix}">
                        <input type="text" class="matrix-cell header-cell" th:value="${condition.conditionName}">
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="condition,condIndex : ${matrix.getMatrix}" style="text-align: center;">
                    <td>
                        <input type="text" class="matrix-cell header-cell"
                               th:id="matrix[__${condIndex.index}__].conditionName"
                               th:name="matrix[__${condIndex.index}__].conditionName"
                               th:value="${condition.conditionName}">
                    </td>
                    <td th:each="coeff, coeffIndex  : ${condition.getCoefficientsList()}">
                        <input class="matrix-cell active-cell" type="text" th:unless="${condIndex.index}>=${coeffIndex.index}"
                               th:value="${coeff}"
                               th:id="matrix[__${condIndex.index}__].newCorrelationCoefficients[__${coeffIndex.index}__]"
                               th:name="matrix[__${condIndex.index}__].newCorrelationCoefficients[__${coeffIndex.index}__]">

                        <input type="text" class="matrix-cell diagonal-cell" th:if="${condIndex.index} == ${coeffIndex.index}"
                               th:value="${coeff}"
                               th:id="matrix[__${condIndex.index}__].newCorrelationCoefficients[__${coeffIndex.index}__]"
                               th:name="matrix[__${condIndex.index}__].newCorrelationCoefficients[__${coeffIndex.index}__]">
                        <input type="text" class="matrix-cell disabled-cell" th:unless="${condIndex.index}-1<${coeffIndex.index}"
                               th:value="${coeff}"
                               th:id="matrix[__${condIndex.index}__].newCorrelationCoefficients[__${coeffIndex.index}__]"
                               th:name="matrix[__${condIndex.index}__].newCorrelationCoefficients[__${coeffIndex.index}__]">
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="matrix-form-buttons">
                <button class="button matrix-button" type="submit" onclick="formSubmittedAlert()">Update and recalculate</button>
                <button class="button matrix-button" type="reset" >Reset changes</button>
            </div>
        </form>
    </div>
</section>

<script th:inline="javascript">
/*<![CDATA[*/
    var hasRangeErrors = [[${#fields.hasErrors('matrix')}]];
    var changesAbsent = [[${changesAbsent}]];
    var isDemo = [[${isDemo}]];
    window.onload = function() {
        if(hasRangeErrors)
            alert("Coefficients must not exceed [-1..1] range");
        else if(changesAbsent)
            alert("No changes in correlation coefficients detected.");
        else if(isDemo)
            alert("This is a demonstration of application functionality. Correlation matrix updates made by NOT ADMIN are not applied");
    };
/*]]>*/
</script>
</body>
</html>