<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand"><i class="fas fa-graduation-cap"></i>WeatherComparator
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll" th:with="url=${#httpServletRequest.getRequestURI()}">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/home}" id="home-id"
                           th:classappend="${url == '/home' ? 'active':''}">Home</a>
                    </li>
                    <li class="nav-item" id="propose-id"
                        th:if="${url != '/login' || url != '/register' || url != '/dashboard'}">
                        <a class="nav-link" id="proposeAnchor" >Propose</a>
                    </li>
                    <li class="nav-item" id="about-id">
                        <a th:classappend="${url == '/about' ? 'active':''}"
                           th:href="@{/about}" class="nav-link">About</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" id="login-id" th:href="@{/login}"
                           th:classappend="${url == '/login' || url == '/register' ? 'active':''}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()" id="profile-id">
                        <a  th:classappend="${url == '/profile' ? 'active':''}"
                            th:href="@{/profile}" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a  th:classappend="${url == '/dashboard' || url == '/dashboard/correlation_matrix' ? 'active':''}"
                            th:href="@{/dashboard}" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a  th:classappend="${url == '/logout' ? 'active':''}"
                            th:href="@{/logout}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>

    </div>
</header>
<!-- //header -->

</body>
</html>