<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>WeatherComparator</title>
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="assets/css/summary-table.css">
    <link rel="stylesheet" href="assets/css/dropdown.css">
    <link rel="stylesheet" href="assets/css/checkbox.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

function drawChart() {
      var data = new google.visualization.DataTable();
data.addColumn('string', 'Date'); // Implicit domain label col.

var selectedProviders = [[${chartConfigs.selectedProviders}]];

for (let i = 0; i < selectedProviders.length; i++) {
  data.addColumn('number', selectedProviders[i]); // Implicit series 1 data col.

  //add annotations for condition only and only if 1 provider selected
  if([[${chartConfigs.selectedAnalysisType}]] == 'General condition' & selectedProviders.length==1){
    data.addColumn({type:'string', role:'annotation'});
    data.addColumn({type:'string', role:'annotationText'});
  }
}

var chartDataTable = [[${chartDataTable}]];
for(let dateIndex = 1; dateIndex < chartDataTable.length; dateIndex++){
    var tempDate = new Date(2022,06,14);
    chartDataTable[dateIndex][0] = tempDate;
}

data.addRows([[${chartDataTable}]]);
var analysisType = [[${chartConfigs.selectedAnalysisType}]];
if(analysisType == 'General condition'){
    var title = analysisType + ' accuracy, ' + [[${chartConfigs.units}]];
}
else {
    var title = analysisType + ' deviation, ' + [[${chartConfigs.units}]];
}

var options = {
    legend: {position: 'top', maxLines: 2, textStyle: {fontSize: 20, bold: true}, alignment: 'end'},
    fontSize: 16,
    chartArea: {
      height: '100%',
      width: '100%',
      top: 48,
      left: 80,
      right: 16,
      bottom: 90
    },
    height: '100%',
    width: '100%',
    hAxis: {
        format: "dd-MM-yyyy",
        title: 'Date (up to last 15 days)',
        titleTextStyle: {fontSize: 18}
    },
    vAxis: {
        title: title,
        titleTextStyle: {fontSize: 18}
    },
      colors: ['#fbb034', '#202ba8']
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }






    </script>
    <script type="text/javascript" th:inline="javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.arrayToDataTable([[${summaryTable}]]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        var cssClassNames = {
    'headerRow': 'italic-darkblue-font large-font bold-font',
    'tableRow': 'large-font',
    'oddTableRow': 'large-font beige-background',
    'selectedTableRow': 'orange-background',
    'hoverTableRow': '',
    'headerCell': 'gold-border',
    'tableCell': '',
    'rowNumberCell': 'underline-blue-font'};

        var options = {'showRowNumber': true, 'allowHtml': true, width: '90%', height: '100%', 'cssClassNames': cssClassNames};
        table.draw(data, options);
      }
    </script>
    <script type="text/javascript" src="assets/js/dropdown.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

<!-- header -->
<div th:replace="header :: header">...</div>
<!-- //header -->

<!-- Modal content -->
<div id="proposeModal" class="propose-modal">
    <script th:inline="javascript" th:if="${hasErrors}">
    var modal = document.getElementById("proposeModal");
    modal.style.display = "block";
    </script>
    <div class="propose-modal-content">
        <span class="propose-close">&times;</span>
        <h4 style="text-align: center; margin-bottom: 10px;">Please specify your proposal</h4>
        <ul th:if="${hasErrors}">
            <li class="alert alert-danger" role="alert" th:each="errorField : ${errors}"
                th:text="${errorField.getDefaultMessage()}"></li>
        </ul>
        <form action="/saveProposal" method="post" class="signin-form" th:object="${proposal}">
            <div class="form__group">
                <div class="proposal-selection">
                    <h5>Type of proposal</h5>
                    <select class="dropdown-select" style="font-size: 18px; width: 100%;" th:field="*{type}"
                            data-dropdown>
                        <option th:value="'Add city for monitoring'">Add city for monitoring</option>
                        <option th:value="'Add forecast provider'">Add forecast provider</option>
                        <option th:value="'Extend analysis model'">Extend analysis model</option>
                        <option th:value="'Other'">Other</option>
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-grids" sec:authorize="isAnonymous()">
                    <input type="text" name="name" class="contact-input"
                           required placeholder="Your name" th:value="${hasErrors} ? ${failedProposal.name} : ''">
                </div>
                <div class="input-grids" sec:authorize="isAnonymous()">
                    <input type="text" name="email" class="contact-input"
                           required placeholder="Your email" th:value="${hasErrors} ? ${failedProposal.email} : ''">
                </div>
                <div class="input-grids">
                    <input type="text" name="subject" class="contact-input"
                           required placeholder="Subject" th:value="${hasErrors} ? ${failedProposal.subject} : ''">
                </div>
                <div class="input-grids">
                    <textarea name="details" class="contact-input" cols="40" style="margin-bottom: 0px;" rows="5"
                              required placeholder="Please enter your proposal details"
                              th:text="${hasErrors} ? ${failedProposal.details} : ''"
                    ></textarea>
                </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-center">
                <button type="submit" class="btn btn-style btn-style-3">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
                // Get the modal
                var modal = document.getElementById("proposeModal");
                var homeNav = document.getElementById("home-id");
                var proposeNav = document.getElementById("propose-id");

                // Get the button that opens the modal
                var anchor = document.getElementById("proposeAnchor");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("propose-close")[0];


                // When the user clicks the button, open the modal
                anchor.onclick = function() {
                  modal.style.display = "block";
                  $("propose-id").addClass("active");
                  homeNav.classList.remove("active");
                  proposeNav.classList.add("active");
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                  modal.style.display = "none";
                  homeNav.classList.add("active");
                  proposeNav.classList.remove("active");
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                    homeNav.classList.add("active");
                  proposeNav.classList.remove("active");
                  }
                }
</script>
<!-- /Modal content -->

<!-- config -->
<section class="info-section" th:object="${chartConfigs}">
    <div th:with="analysisType = ${chartConfigs.selectedAnalysisType}">
        <div class="section-title ">
            <span class="highlight" th:text="${analysisType == 'Temperature'
             ? 'Temperature forecast standard deviation'
             : 'Weather general condition forecast RSD (accuracy deviation)'}"></span>
        </div>
        <div style="width:1100px; font-size: 18px; text-align: center;" id="table_div"></div>
        <div class="section-title" style="margin-bottom: 0px; margin-top: 10px;">
            <span class="highlight" th:text="${analysisType} + ' forecast accuracy chart'"></span>
        </div>
        <div id="chart_div" style="width: 900px; height: 400px; display: block; margin: 0 auto;"></div>
    </div>
    <form th:action="@{/applyChartChanges}" method="post" class="customization-menu">
        <div class="section-title">
            <span class="highlight">Customize analysis parameters</span>
        </div>
        <div class="customize-section">
            <h4>Select analysis type</h4>
            <div th:each="analysisType : ${chartConfigs.listOfAnalysisTypes}">
                <label class="chkbx-container">
                    <input type="radio" th:text="${analysisType}" th:value="${analysisType}"
                           th:checked="${analysisType.equals(chartConfigs.selectedAnalysisType)}"
                           name="selectedAnalysisType">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="city-section">
            <h4>Select city</h4>
            <div class="form__group">
                <select class="dropdown-select" th:field="*{selectedCity}" data-dropdown>
                    <option th:each="city : ${chartConfigs.listOfCities}" th:value="${city}"
                            th:text="${city}"></option>
                </select>
            </div>
        </div>
        <div class="customize-section">
            <h4>Select forecast providers</h4>
            <div class="menu-chkbx-item">
                <div th:each="forecastProvider : ${chartConfigs.listOfProviders}">
                    <label class="chkbx-container">
                        <input type="checkbox" th:text="${forecastProvider}" th:value="${forecastProvider}"
                               name="selectedProviders"
                               th:checked="${chartConfigs.selectedProviders.contains(forecastProvider)}">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="customize-section">
            <h4>Select forecast range</h4>
            <div class="menu-chkbx-item">
                <label class="chkbx-container" th:each="range : ${chartConfigs.listOfRanges}">
                    <input type="radio" th:text="${range}" th:value="${range}"
                           th:checked="${range.equals(chartConfigs.selectedRange)}" name="selectedRange">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div style="margin-left: 50px;">
            <button class="button">Update chart</button>
        </div>
    </form>

</section>
<!-- //config -->

<section class="descr-section">
    <button class="collapsible">Objectives</button>
    <div class="descr-chapter">
        <p class="descr-highlight descr-p">
            <span class="highlight"> Two words that can ruin your plans for a weekend: <strong style="font-size: 28px;">EXPECT RAIN</strong></span>
        </p>
        <p class="descr-p">
            In fact, you risk sitting home all sunny day and cursing all the weather
            forecasting as a failed and incompetent science field. It is not quite fair though.
        </p>
        <p class="descr-p">So how to compare forecast providers and select the most reliable one?</p>
        <p class="descr-p">
            We can’t examine forecast algorithms and quality of parameters feed to them. But we can directly compare
            forecast samples made hours or days prior to with actual weather recorded by the same provider for the same
            location.
        </p>
    </div>
    <button class="collapsible">What data is used for analysis</button>
    <div class="descr-chapter">

        <p class="descr-p">
            Two kinds of samples scraped directly from the forecast providers websites: actual and forecast with the following fields.
        </p>
        <ol class="descr-p" type="1" style="margin-left: 30px">
            <li>Date/time</li>
            <li>Forecast range (for forecast sample only)</li>
            <li>City</li>
            <li>Temperature</li>
            <li>General condition</li>
        </ol>
        <p class="descr-p">Forecast range tells how many hours between forecast generation and actual weather date.</p>
        <p class="descr-p"> <span class="highlight">Every 3 hours, the collected samples meet for analysis,
            the purpose of which is to honestly compare the quality of the forecast. </span> </p>
    </div>
    <button class="collapsible">How analysis is performed</button>
    <div class="descr-chapter">
        <p class="descr-p">It’s quite easy to compare forecast accuracy by temperature where simple temperature
            difference ∆T is enough to make conclusions. But what interests the most is General weather condition correlation.
        </p>
        <p class="descr-p"> <span class="highlight">
            Indeed, who cares about accurate temperature forecast if a morning was ruined by unexpected
            rain? </span></p>
        <p class="descr-p">Below you see General weather condition correlation matrix.</p>
        <p class="descr-p">The coefficients are biased towards a drastic difference in conditions (e.g. sunny/rainy)
            and are more forgiving if there is a less pronounced (e.g. sunny/cloudy) difference.
        </p>
        <table class="matrix-table" th:object="${matrix}">
            <thead>
            <tr style="text-align: center;">
                <th text="Condition"></th>
                <th th:each="condition : ${matrix.getMatrix}">
                    <input type="text" class="matrix-cell header-cell" th:value="${condition.conditionName}">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="condition,condIndex : ${matrix.getMatrix}" style="text-align: center;">
                <td>
                    <input type="text" class="matrix-cell header-cell" th:value="${condition.conditionName}">
                </td>
                <td th:each="coeff, coeffIndex  : ${condition.getCoefficientsList()}">
                    <input class="matrix-cell active-cell" type="text"
                           th:unless="${condIndex.index}>=${coeffIndex.index}"
                           th:value="${coeff}">
                    <input type="text" class="matrix-cell diagonal-cell"
                           th:if="${condIndex.index} == ${coeffIndex.index}"
                           th:value="${coeff}">
                    <input type="text" class="matrix-cell disabled-cell"
                           th:unless="${condIndex.index}-1<${coeffIndex.index}"
                           th:value="${coeff}">
                </td>
            </tr>
            </tbody>
        </table>
        <p class="descr-p table-annotation">*1 – perfect correlation (weather forecast = 100% accuracy);
            -1 – total fail of the forecast (accuracy 0%)</p>
        <p class="descr-p">
            <strong>Line chart</strong> illustrates result for recent control points: actual sample vs forecast sample
            condition correlation and temperature difference. Control points generated every 3 hours.
        </p>
        <p class="descr-p">
            <strong>Summary table</strong> shows control points analysis over the period of time. For temperature it’s Standard Deviation
            (STD):
        </p>
        <p style="text-align: center">
            <img class="equation1" src="assets/images/eq1.jpg" alt="STD equation">
        </p>
        <p class="descr-p">Where <span style="font-style: italic;">𝜎</span> – Standard Deviation (STD),</p>
        <p class="descr-p"><span style="font-style: italic;">N</span> – number of control points over the period of time,</p>
        <p class="descr-p"><span style="font-style: italic;">Xi</span> – correlation coefficient for the given control point,</p>
        <p class="descr-p"><span style="font-style: italic;">PM</span> – perfect mean for the forecast. For temperature it should be 0℃, for condition correlation 1.</p>
        <p class="descr-p">
            For general condition analysis to make STD values pronouncing and informative it is converted to Relative
            Standard Deviation (RSD). This achieved by transforming correlation coefficient to [0..1] range and using
            formula:
        </p>
        <p style="text-align: center">
            <img class="equation2" src="assets/images/eq2.jpg" alt="RSD equation">
        </p>
        <p class="descr-p">Where PM = 1 so technically it is just multiplication of STD by 100.</p>
    </div>
</section>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("collapsible-active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}

</script>
</body>
</html>