<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="assets/css/summary-table.css">
    <link rel="stylesheet" href="assets/css/dropdown.css">
    <link rel="stylesheet" href="assets/css/checkbox.css">
</head>
<body>
<!-- header -->
<div th:replace="header :: header">...</div>
<!-- //header -->
<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <h3 class="title-style">Registration Form</h3>
        </div>
        <div class="row login-block">
            <div class="col-md-7 login-center">
                <ul>
                    <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('person.*')}" th:text="${error}" />
                </ul>
                <form th:action="@{/createUser}" method="post" class="signin-form" th:object="${person}">
                    <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                        <p class="text-uppercase">Personal Details</p>
                    </div>
                    <div class="input-grids">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" th:field="*{name}" placeholder="Name"
                                       class="contact-input" />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{email}" placeholder="Email"
                                       class="contact-input" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" th:field="*{city}" placeholder="City of primary interest"
                                       class="contact-input" />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{favoriteProvider}" placeholder="Favorite forecast provider"
                                       class="contact-input" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="password" th:field="*{password}" placeholder="Password"
                                       class="contact-input" />
                            </div>
                            <div class="col-sm-6">
                                <input type="password" th:field="*{confirmPassword}" placeholder="Confirm password"
                                       class="contact-input" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 login-center text-start">
                        <button class="btn btn-style btn-style-3">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>